@import '~mgm-colors/lib/colors';

body {
  background: $body-background-color;
}

// TODO HACK!!! This fixes a bug with safari, where things out of visible range that undergo a transformation remain unvisible when scrolled to
.page-content {
  -webkit-transform:translate3d(0,0,0);
}

.mdc-layout__header {
  background-color: $layout__header-background-color;
  color: contrasting-color($layout__header-background-color, $light-text-color, $dark-text-color);
}

.mdc-card__title {
  background-color: $card__title-background-color;
  color: contrasting-color($card__title-background-color, $light-text-color, $dark-text-color);
}

.mdc-card__media {
  background-color: transparent;
}

.mdc-card__media.mdc-card--border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.mdc-card__supporting-text.mdc-card--border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.mdc-card.card-wide {
  width: 512px;
}

.mdc-card.card-full-width {
  width: 100%;
}

.mdc-button.mdc-button--accent.mdc-button--raised {
  background-color: $mdl-button--accent-color;
  color: contrasting-color($mdl-button--accent-color,$light-text-color,$dark-text-color);
}

.mdc-card__actions {
  background-color: $card__actions-background-color;
}

.card-full-width .mdc-card__supporting-text {
  padding: 32px;
}

.card-wide .mdc-card__supporting-text {
  padding: 25.5px;
}

// fixes bug with mdc tooltips in chrome
.mdc-tooltip {
  will-change: unset;
}

.mdc-layout__header-row {
  padding-right: 0px;
}
